header {
    background: url("../../../public/images/header-bg.jpg") no-repeat;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 350px;
    transition: .3s;
    opacity: .3;
}

header h1 {
    line-height: 88px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

header h1 span {
    color: var(--orange);
    font-weight: 800;
}

header button {
    margin-top: 50px;
}