.Navbar {
  background-color: var(--dark);
  padding: 35px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.row {
  justify-content: space-between;
  align-items: center;
}

.navbar__left a {
  font-size: 35px;
  font-family: var(--Montserrat);
  color: var(--white);
  font-weight: 700;
  letter-spacing: 1.2px;
}


.navbar__right ul {
  display: flex;
  align-items: center;
}

.navbar__right ul li {
  margin-left: 30px;
}


.navbar__right ul li a {
  font-size: 18px;
  font-family: var(--Catamaran);
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
  transition: .3s;
}

.navbar__right ul li a::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: var(--red);
  transition: .3s;
  display: block;
}

.navbar__right ul li a:hover {
  color: var(--orange);
}

.navbar__right ul li a:hover::after {
  width: 50%;
}

.Navbar select {
  background-color: var(--dark);
  color: var(--white);
  padding: 10px 12px;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
}